h3.thirds {
	font-size: 28px;
}

.circle-text {
	text-align: center;
		width: 120px;
		    line-height: 120px;
		    border-radius: 50%;
		    text-align: center;
		    font-size: 48px;
		    background-color: $black;
	color: $white;
}

.content {
	background-color: $white;
	padding: 4rem 0;
	strong {
	 	background-color: $yellow;
	 	font-weight: 700;
	}
	h2, h3 {
		margin-top: 2rem;
		font-family: $font-family-sans-serif;
		strong {
			color: $pink;
			background-color: transparent;
		}
		// max-width: 45rem;
		// margin-left: auto;
		// margin-right: auto;
		//text-align: center;
	}
	h4, h5 {
		max-width: 45rem;
		// margin-left: auto;
		// margin-right: auto;
		// text-align: center;

	}
	p, li {
		font-size: 1.3rem;
		max-width: 45rem;
		// margin-left: auto;
		// margin-right: auto;
	}
	label {
		font-size: 16px;
	}
	ul, ol {
		margin: 1rem auto;
		padding: 0;
	}
	div.image {
		img {
			max-width: 100%;
			// margin-left: auto;
			// margin-right: auto;
		}
	}

	table {
		border-radius: $border-radius;
		&.data, &.exchange {
			font-size: 16px;
		}
		a {
			color: $pink;
		}
		thead tr td {
			background-color: $yellow;
			font-weight: 700;
		}
	}

	tr.section {
		background-color: $yellow;
		font-weight: 700;
	}
	tr.lessons {
		font-size: 16px;
	}

	tr.active {
		background-color: $primary;
		color: $white;
		a {
			color: $white;
		}
	}
	td.updated {
		background-color: $pink;
		color: $white;
	}
	button.btn, a.btn {
		border-radius: $border-radius;
		font-family: $font-family-sans-serif;
		border: none;
		text-decoration: none;
		color: $white;
		font-weight: 500;
		letter-spacing: 1px;
	}

	form strong {
		padding: 0 5px;
		font-weight: 700;
	}

	.worksheet-question {
		border-bottom: 3px solid $smoke;
	}

	.card-header {
		font-weight: 700;
	}

	.win {
		border: 1px solid $smoke;
		background-color: $smoke;
		padding: 2rem;
		margin-bottom: 2rem;
	}

	ul.list-group li.list-group-item {
		font-family: $font-family-sans-serif;
	}
}

.content.lesson .sidebar {
	li {
		margin-left: 1rem;
		margin-right: 0;
		a {
			display: block;
			color: $pink;
			&:hover {
				color: $black;
			}
		}
	}
	p, li {
		font-size: 18px;
		font-family: $font-family-sans-serif;
	}
}
.content.lesson {
	background-color: #fefefe;
	p {
		margin-top: rem-calc(30);
		margin-bottom: rem-calc(30);
		line-height: 2.14;
		&.second-sans {
			font-family: $font-family-sans-serif2;
			line-height: 1.6
		}
		&:first-child {
			margin-top: 0;
		}
		a {
			color: $pink;
			border-bottom: 1px solid $pink;
			&:hover {
				color: $black;
				border-bottom: none;
				text-decoration: none;
			}
			&.btn {
				color: $white;
				border-bottom: none;
			}
		}
	}
	blockquote {
		padding-left: 3rem;
		font-style: italic;
		border-left: 10px solid $rose;
	}
	li {
		line-height: 2.14;
		&:first-child {
			margin-top: 0;
		}
		a {
			color: $pink;
			border-bottom: 1px solid $pink;
			&:hover {
				color: $black;
				border-bottom: none;
				text-decoration: none;
			}
			&.nav-link {
				border-bottom: none;
			}
		}
	}
	p, li, div.recap {
		max-width: 45rem;
	}
	p, li {
		font-family: $font-family-serif;
	}
	div.recap {
		// margin-left:auto;
		// margin-right: auto;
		border: 3px solid rgba($ocean, 0.5);
		background-color: $vanilla;
		padding: 2rem 1rem 0;
		margin-bottom: 1rem;
		border-radius: $border-radius;
		p {
			&:first-child {
				margin-top: 0;
			}
		}
		li {
			margin-left: 1.5rem;
		}
		h3, h4 {
			margin-top: 0;
		}
	}
}

.content.smoke {
	background-color: $smoke;
	table {
		background-color: $white;
		border: 3px solid $white;
	}
}
.content.vanilla {
	background-color: $vanilla;
}
.content.sky {
	background-color: $sky;
}

.content.black {
	background-color: $black;
	p {
		color: $white;
		strong {
			color: $black;
		}
	}
}

.content.ocean {
	background-color: $ocean;
	h2, h3 { color: $white; }
	strong {
		padding: 0 3px;
		font-weight: 700;
	}
	form {
		color: $black;
	}
	.card {
		border: 3px solid $rose;
	}
}
.content.myrtle {
	background-color: $myrtle;
	table.table {
		background-color: $white;
	}
}
.content.red {
	background-color: $red;
}
.content.rose {
	background-color: $rose;
	table {
		background-color: $white;
		border-radius: $border-radius;
		border-collapse: separate;
		tr {
			background-color: $smoke;
			color: $space;
			a {
				color: $space;
				display: block;
			}
			&.active {
				background-color: $yellow;
				color: $primary;
				a {
					color: $space;
					font-weight: 700;
				}
			}
			&.section {
				background-color: $night;
				color: $white;
			}
		}
	}
}

.content.objectives {
	padding: 1rem 0;
	h3 {
		margin-top: 1rem;
	}
	ol {
		padding-left: 1.6rem;
		li {
			font-family: $font-family-serif;
			//font-size: 1.4rem;
		}
	}
	@media (min-width: 768px) {
		ol {
			padding-left: 0;
		}
	}
}

ul.avatar-list {
	li {
		float: left;
		padding: 3px;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
		img {
			max-width: 64px;
			border-radius: 1000px;
		}
	}
}

img.avatar {
	border-radius: 1000px;
	max-width: 24px;
}

.card.smoke {
	background-color: $night;
	p {
		strong {
			background-color: $night;
			color: $yellow;
			font-weight: 500;
		}
	}
}
.card.sidebar {
	padding-bottom: 0;
	p {
		font-size: 18px;
		color: $white;
	}
}

.exercise {
	border-bottom: 3px double $smoke;
	margin-bottom: 2rem;
	max-width: 45rem;
		margin-left: auto;
		margin-right: auto;
	.exercise-instructions {
		font-style: italic;
	}
	div.answer {
		padding: 2rem;
		background-color: $smoke;
		margin-bottom: 2rem;
		border-radius: $border-radius;
	}

	div.feedback {
		padding: 2rem;
		background-color: $rose;
		border-radius: $border-radius;
		margin-bottom: 2rem;
	}
}

.courses {
	background-color: $myrtle;
	padding: 4rem 0;
	.course-list {
		//list-style-type: none;
		padding: 0;
		margin: 0;
		font-size: 3rem;
		li {
			padding: 0;
			line-height: 1;
			a {
				font-family: $font-family-serif;
				color: $blue;
				font-weight: 900;
				text-decoration: none;
				border: none;
				display: block;
				background-color: $myrtle;
				padding: 2rem 0;
				&:hover {
					color: $pink;
				}
			}
		}
	}
	.course-list {
		li a {
			font-size: 3rem;
		}
	}
}

.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	/* Position the items */
	// &:nth-child(2) { top: 25%; }
	// &:nth-child(3) { top: 50%; }
	// &:nth-child(4) { top: 75%; }
}

.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
    
  padding: 0 15px;
}

.sidebar-form {
	input, textarea {
		font-size: 18px;
	}
}