footer {
	padding: 2rem 0 3rem;
	color: $white;
	background-color: $night;
	z-index: 2000;
	a {
		color: $yellow;
		&:hover {
			color: $pink;
			text-decoration: none;
		}
	}
	ul, ol {
		padding-left: 0;
		margin-left: 0;
		list-style-type: none;
		li {
			border-bottom: 1px solid rgba($smoke, 0.25);
			padding: 8px 0;
			&:last-child {
				border-bottom: none;
			}
		}
	}
	p, li {
		font-size: 18px;
	}
	h2, h3, h4 {
		font-family: $font-family-serif;
	}

	h4 {
		font-size: 20px;
		text-transform: uppercase;
	}
}