footer {
	padding: 2rem 0 3rem;
	color: $white;
	background-color: $night;
	z-index: 2000;
	a {
		color: $yellow;
		&:hover {
			color: $pink;
			text-decoration: none;
		}
	}
	p, li {
		font-size: 16px;
	}
	h2, h3, h4 {
		font-family: $font-family-serif;
	}
}