.welcome {
	background: #42275a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



	color: $white;
	padding: 1rem 0;
	h3.preheader {
		padding: 1rem 0;
		margin-bottom: 1rem;
		border-bottom: 3px double rgba($white, 0.5);
		a {
			color: $yellow;
		}
		span.me {
			color: $yellow;
			font-weight: 700;
		}
	}
	a.btn-primary {
		background-color: $color3;
		color: $primary;
		&:hover {
			background-color: $color5;
			color: $white;
		}
	}
	h1 {
		span {
			color: $yellow;
			border-bottom: 3px solid $yellow;
		}
	}
}