.welcome {
	background-color: $smoke;
	padding: 3rem 0;
	text-align: center;
	h3.preheader, h3.subheader {
		margin-bottom: 1rem;
		@media (min-width: 768px) {
			font-size: 1.5rem;
		}
		font-weight: 500;
		font-family: $font-family-sans-serif;
		a {
			background-color: $myrtle;
			color: $white;
			padding: 0 10px;
			border-radius: $border-radius;
			&:hover {
				color: $myrtle;
				background-color: $white;
				text-decoration: none;
			}
		}
		span.me {
			color: $pink;
			font-weight: 700;
		}
		color: $space;
	}
	h2 {
		font-weight: 500;
		@media (min-width: 768px) {
			font-size: 2rem;
		}
		&.subheader {
			color: $space;
		}
		&.preheader {
			a {
				color: $primary;
			}
		}
	}
	a.btn-primary {
		background-color: $color3;
		color: $ocean;
		border-color: $color3;
		&:hover {
			border-color: $color5;
			background-color: $color5;
			color: $white;
		}
	}
	h1 {
		@media (min-width: 1060px) {
			font-size: 4rem;
			line-height: 1;
		}
		font-weight: 700;
		span {
			color: $pink;
		}
		strong {
			font-family: $font-family-sans-serif;			
		}
	}
	img.avatar-image {
		max-width: 64px;
		border-radius: 1000px;
	}
}