.navbar {
	background: #42275a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	border-bottom: 1px solid rgba($white, 0.25);
	.navbar-brand {
		font-weight: 900;
		text-transform:lowercase;
		font-size: 2rem;
		&:hover {
			color: $yellow !important;
		}
		img {
			max-width: 2rem;
			vertical-align: 0px;
		}
	}
	li a {
		&.active {
			color: $yellow !important;
		}
	}
}