.navbar {
	background-color: $night;
	.navbar-brand {
		font-family: "flood-std",sans-serif;
		font-weight: 700;
		font-size: 1.5rem;
		border-right: 1px solid rgba($white, 0.25);
		padding-right: 1rem;
		color: $white !important;
		&:hover {
			color: $yellow !important;
		}
		img {
			max-width: 2rem;
			vertical-align: -9px;
		}
	}
	li.nav-item a.nav-link {
		font-size: 1rem;
		color: $white;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-top: 2px;
		&:hover {
			color: $yellow !important;
		}
		&.active {
			color: $yellow !important;
		}
	}
}
.navbar-dark .navbar-toggler {
	border: none;
}
.navbar .navbar-dark {
	background: $space;
}