a {
	transition: 0.2s linear all;
}

.make-me-sticky {
    position: relative; /* I am the fallback */

    /* Give it everything you got! (use an auto prefixer...) */
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;

    top: 0; /* Required  */
}

@media (min-width: 768px) {
	#top, #bottom, #left, #right {
		background: $pink;
		position: fixed;
		}
		#left, #right {
			top: 0; bottom: 0;
			width: 25px;
			z-index: 1000;
			}
			#left { left: 0; }
			#right { right: 0; }
			
		#top, #bottom {
			left: 0; right: 0;
			height: 25px;
			}
			#top { top: 0; }
			#bottom { bottom: 0; }
		#bottom {
			z-index: 1000;
		}
}